
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
}

.ticket {
    width: 782px;
    height: 273px;
    background-color: #efc684;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto, sans-serif;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popcorn-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 225px;
    border-left: 2px dashed red;
    height: 100%;
}

.popcorn img {
    width: 130px;
    transform: rotate(1.62deg);
    transition: transform 0.3s ease-in-out;
}

.popcorn-container:hover .popcorn img {
    transform:  rotate(5deg);
}

.little-popcorns  img {
    width: 20px;
    height: auto;
    margin-bottom: 15px;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.popcorn-container:hover img {
    opacity: 1;
}

.little-popcorns img:nth-child(2) {
    position: relative;
    top: 10px;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 500px;
    height: 273px;
    margin: 25px;
    position: relative;
}

.left-section {
    width: 45%;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    color: #000000;
    width: 206px;
    margin-bottom: 20px;
}

.ticket-type {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

h2 {
    border: 1px solid black;
    width: 82px;
    height: 44px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 35px;
}

h2.price {
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2.vip {
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-section p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    border-bottom: 1px solid black;
    margin-bottom: 25px;
}

.middle-section {
    margin-left: 45px;
    margin-bottom: 15px;
}

.barcode {
    margin-top: 45px;
}

.middle-section p.gate-seat {
    display: flex;
    justify-content: space-between;
}
